@charset "utf-8";

@import "vendor/normalize";

*,
*:before,
*:after {
  box-sizing: border-box;
}

$text-colour: #353535;
$main-colour: rgb(98, 127, 222);

@import "base";
@import "layout";
@import "index";
@import "docs";
